@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=League+Gothic&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Inter,sans-serif";
  font-optical-sizing: auto;
  background: #000000;
  color: #ffffff;
  scroll-behavior: smooth;
}

.bg-image {
  background-image: url;
}

#work,
#about,
#experience,
#testimonials,
#contact {
  scroll-margin-top: 80px;
}
